/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* Flexbox simple row layouts */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* some styles so we can see all of our containers */
  border: 1px solid purple;
  background-color: rgba(255, 0, 255, 0.3);
  min-height: 400px;
}

.item {
  border: 1px solid cornflowerblue;
  background-color: rgba(0, 0, 255, 0.3);
  width: 23%;
  height: 300px;
}

/* Atomic CSS Design Pattern */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-even {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
  /* need to override our fixed height of 300px for our class item so it can stretch */
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  /* if anything with flexbox and the value stretch
  isn't "stretching" its because you have a fixed height or width */
  .self-stretch {
    /* need to override fixed width of 300px so it can stretch in column mode */
    height: 300px;
    width: auto;
  }
}

/* Classic Layout Example */

header {
  display: flex;
  width: 100%;
  min-height: 100px;
  background-color: #FFF;
  align-items: center;
}

header img{
  height: 133px;
  width: auto;
}

header .text{
  padding: 15px;
  justify-items: flex-start;

}

/* Security */
header h1 {
  letter-spacing: -0.5px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  margin-bottom: -7px;
  font-size: 3em;
  color: #000;
}


/* div for Snails.com */
header div .sub_logo_div {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: baseline;
}

/* Snails */
header h2{
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
  color: #E40505;
}

/* .com */
header h3{
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.75em;
  color: #8C8C8C;
}
  
/* phone number */
header p {
  justify-self: flex-end;
  vertical-align: middle;
  font-size: 0.9em;
  margin: 0;
  color: #8C8C8C;
}

#home_header{
  padding-left:300px;
  height: 250px;
  font-size: 1.4em;
}

#stacked_boxes{
  width:300px;
  height: auto;
  position:absolute;
  top:0;
  left:0;
}

nav{
  background-color: #8B0404;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  font-size: 0;
}

nav ul{
  padding:0;
  margin:0;
}

nav li {
  display: inline-block;
  font-size: 1rem;
}

nav li a {
  margin: 10px 5px;
  display: block;
  text-align: center;
  padding: 5px 10px;
  color:#FFF;
  text-decoration:none;
      } 


nav a:hover {
  background-color: #ddd;
  color: #C20102;
}

nav a.active {
  background-color: #C20102;
  color:#FFF ;
}


.wrapper {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: darkcyan;
}

.grid-item {
  width: 23%;
  margin: 1%;
}

.secondary-nav {
  min-width: 25%;
  background-color: aquamarine;
}

.menu {
  /* remove list defaults */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid grey;
}

.menu span {
  padding: 1rem;
  font-size: 2rem;
}

.menu a {
  text-decoration: none;
  font-weight: 600;
  color: #111;
  width: 100%;
  display: flex;
  align-items: center;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

footer {
  background-color: coral;
  min-height: 100px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .grid-item {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .secondary-nav {
    order: 1;
  }

  .grid-container {
    flex-direction: column;
    order: 2;
  }

  .grid-item {
    width: 95%;
  }
}
