@import url('vars.css');

/* style.css BEGIN */
/* ------------------------------------------------------------------------------------------ */
/* GLOBAL STYLES BEGIN */
* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;


  /* https://www.codestudy.net/blog/maintaining-aspect-ratio-of-a-stretched-flex-item/ */
  /* keeping images from distorting */
  object-fit: contain;
  object-position: center;
}
/* GLOBAL STYLES END */
/* ------------------------------------------------------------------------------------------ */
/* HEADER AND NAV BEGIN */

/* HEADER BEGIN */
header {
  display: flex;
  width: 100%;
  min-height: 6rem;
  background-color: var(--c-bg);
  align-items: center;
}

/* div for solo_box logo */
.header_img{
  height: 8rem;
  width: auto;
}

/* container for logo text */
header .text{
  padding: 1rem;
  justify-items: flex-start;

}

/* "Security" */
header h1 {
  letter-spacing: -0.5px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  margin-bottom: -0.5rem;
  font-size: 3em;
  color: var(--c-text-pri);
}


/* div for Snails.com */
header div .sub_logo_div {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: baseline;
}

/* "Snails" */
header h2{
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
  color: var(--c-pri);
}

/* ".com" */
header h3{
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.75em;
  color: var(--c-text-sec);
}
  
/* phone number beneath logo */
header p {
  justify-self: flex-end;
  vertical-align: middle;
  font-size: 0.9em;
  margin: 0;
  color: var(--c-text-sec);
}

/* header logo text specifically for the home page */
#home_header{
  width:100%;
  padding-left:250px;
  height: 15rem;
  font-size: 1.4em;
}

/* fancy stacked boxes logo for the home page */
#stacked_boxes{
  /* using pixels bc stacked boxes need to sit within the slogan_bar */
  /* will use media queries to change rather than percentages or rem */
  width:250px;
  height: auto;
  position:absolute;
  top:0;
  left:0;
}

#mobile_box{
  display:none;
}
/* HEADER END */

/* NAV BEGIN */

/* hiding mobile hamburger icon on desktop */
.mobile_menu{
  display: none;
}
/* hiding mobile nav on desktop */
.mobile_nav{
  display:none;
}

/* desktop/standard nav */
nav{
  background-color: var(--c-ter);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  font-size: 0;
}

/* container for all pages within nav */
nav ul{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding:0;
  margin:0;
}

/* list item within ul */
nav li {
  display: inline-block;
}

/* anchor tag attached to list item */
nav li a {
  margin: 10px 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0.5rem;

  text-align: center;
  font-size: 1rem;
  color: var(--c-text-ter);
  text-decoration:none;
      } 

/* change color when hover */
nav a:hover {
  background-color: var(--c-hover);
  color: var(--c-sec);
}

/* change color when has class="active"
(page user is currently on) */
nav a.active {
  background-color: var(--c-sec);
  color: var(--c-text-ter);
}
/* NAV END */

/* HEADER AND NAV END */
/* ------------------------------------------------------------------------------------------ */
/* GENERAL CONTENT FORMATTING BEGIN */
/* Page bar (page header), aside, main article, footer */

/* PAGE BAR BEGIN */
/* between the nav and the body,
like a second header particular to the page itself */

/* Home page bar = .slogan_bar */
/* "Don't be the easy target!" */
.slogan_bar{
  padding:0;
  background-image: var(--c-gradient-sec-to-qua);
  height:10rem;
  width:100%;
  display:inline-flex;
  align-content: center;
  justify-content:center;
}

.slogan_bar p{
  margin:0;
  padding:0;
  align-self: center;
  font-size: 3.5em;
  text-wrap:nowrap;
  color:var(--c-text-ter);
}

/* Page bar for the products page */
/* would also be used down the line for more products pages */
/* ie Products > Door Locks would have a standard_page_bar with types of door locks */
.standard_page_bar{
  background-image: var(--c-gradient-sec-to-qua);
  width:100%;
  padding:2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow:hidden;
  justify-content:space-between;
}

/* holds standard_page_bar text: h2 and p */
.standard_page_bar_header{
  max-width:30%;
  margin: 0 2%;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* page name: "All Products" */
.standard_page_bar h2{
  color:var(--c-text-ter);
  margin:0;
  padding:1% 0;
}

/* subtitle: "Browse our most popular categories:" */
.standard_page_bar p{
  color:var(--c-text-ter);
  margin: 2% 0;
  padding: 0;
  text-wrap: wrap;
}

/* container for category link buttons/modules */
.standard_page_bar ul{
  width:77%;
  padding:0;
  margin:0;

  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

/* container for one category link button */
.category_box{
  max-height:12rem;
  max-width:12rem;
  padding:0;
  margin:1%;

  background-color: var(--c-bg);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  /* keeping boxes the same size as each other */
  flex:1 1 0;
}

/* links filling the module */
.category_box a{
  height:100%;
  width:100%;
  padding:10%;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* container attached to link */
.img_container{
  max-height:75%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.category_box p{
  color: var(--c-text-pri);
  font-size: medium;
}
/* HEADER END */

/* MAIN BEGIN */
/* wrapper for main: aside + article */
.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ASIDE BEGIN */
aside{
  margin: 1rem 0 1rem 1rem;
  background-color: var(--c-bg);
}

.aside_mobile_arrow{
  display:none;
}

aside h3{
  text-wrap: wrap;
  padding-right:5%;
  text-decoration: none;
  color: var(--c-text-pri);
}

aside ul{
  margin:0.5rem;
  padding:0;
  list-style-type: none;
}

/* container for li a and dropdown */
aside li{
  margin:0;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

aside li a{
  text-decoration: none;
  color: var(--c-text-pri);
  text-wrap: wrap;
}

/* dropdown arrow code based on w3schools 
https://www.w3schools.com/Css/css_dropdowns.asp */
.dropdown {
  position: relative;
}

/* Style the dropdown button */
.dropdown_button {
  background-color: var(--c-bg);
  color: var(--c-text-pri);
  margin:1%;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: var(--c-bg);
  width: 12rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 999;
}

/* Links inside dropdown content */
.dropdown_content a {
  color: var(--c-text-pri);
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  background-color: var(--c-hover);
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown_content {
  display: block;
}
/* ASIDE END */

/* ARTICLE BEGIN */
/* wrapper for article: icon bar + content */
.wrapper_article{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* container for search bar, shopping cart button, profile button */
.icon_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding:1rem;
  padding-bottom: 0;
  /* connecting to the top of the article content gradient */
  background-color: var(--c-surface);
}

/* search bar input + magnifying glass button */
.search_bar{
  width:60%;
  height:2.2rem;
  padding:0;
  margin:1%;

  border-color: var(--c-border);
  border-width:1px;
  border-style: solid;
  border-radius: 0.5rem;
  background-color: var(--c-bg);

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* based on W3 schools */
/* https://www.w3schools.com/howto/howto_css_searchbar.asp */
.search_bar input[type=text]{
  width:100%;
  height:100%;
  padding:0 1%;
  margin:0;

  font-size: 1rem;
  color:var(--c-text-pri);

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border:none;
}

/* magnifying glass button */
.search_bar button{
  width:8%;
  height:2rem;
  padding: 6px 10px;
  margin:0;

  font-size: 1rem;
  color:var(--c-text-pri);

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

/* changes magnifying glass button color on hover */
.search_bar button:hover {
  background: rgba(0,0,0,0.1);
}

/* hold 'my cart' and 'profile' buttons*/
.cart_profile_container{
  width:40%;
  margin:0.6%;
  color: var(--c-text-pri);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  flex-wrap: wrap;
}

/* links (buttons) */
.cart_profile_container a{
width:45%;
padding:3%;
margin:1%;

background-color: var(--c-bg);
border-color: var(--c-border);
border-width:1px;
border-style: solid;
border-radius: 0.5rem;

display: flex;
flex-direction: column;
align-items: center;
}

/* icons in buttons */
.cart_profile_container i{
  font-size: 1.5rem;
  color: var(--c-text-pri);
}

/* words in buttons */
.cart_profile_container p{
  margin:0;
  padding:0;
  padding-top:5%;

  font-size: 1rem;
  text-wrap: nowrap;
  color: var(--c-text-pri);
}

/* changes button color on hover */
.cart_profile_container a:hover{
  background-color: rgba(0,0,0,0.1);
}

/* container for article headers and content */
.main_article{
  height:100%;
  background-image: var(--c-gradient-surface-to-sec);
  padding:1rem;
  padding-top:0;
  display: flex;
  flex-direction: column;
}

/* container for header text */
.header_and_desc{
  padding:0;
  margin:0.5rem;
}

/* header text */
/* ex: "Our specialized services */
/* In addition to standard locksmithing services, we offer: */
.header_and_desc h2,
.header_and_desc p{
  padding:0;
  margin:0.75rem;
}

/* content boxes */
/* content_img and header, paragraph, links */
content{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  border-radius: 0.5rem;
  margin:1rem;
  padding:1rem;
  min-height:8rem;
  background-color: var(--c-bg);
}

/* container for text inside, icons if applicable */
.content_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:0;
  padding: 1%;
  min-width:45%;
  max-width:85%;
}

/* text formatting */
.content_text h3,
.content_text p{
  margin:0;
  padding:1%;
}
/* ARTICLE END */

/* FOOTER BEGIN */
footer{
margin:0;
padding:0;
width:100%;
height:12rem;
background-color: var(--c-qua);
}

footer p{
  margin:0;
  padding:0;
  color: var(--c-text-ter);
}
/* FOOTER END */


/* GENERAL CONTENT FORMATTING END */
/* ------------------------------------------------------------------------------------------ */
/* PAGE SPECIALIZED FORMATTING BEGIN */
/* Formatting particular to a certain page */

/* MAIN PAGE BEGIN */
.main_information{
  margin:0;
  padding:0;

  display: flex;
  flex-direction: column;
}

/* for rows of modules within the information columns */
.main_information_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
  border-radius: 0.5rem;
  width:100%;
  margin:0;
  padding:0;
}

.main_information_container content{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin:1%;
  width:17%;
  min-width:8rem;
}

.main_information_container i{
  font-size:1.5rem;
  margin:0;
  padding:0;
  padding-bottom: 3%;
}
/* MAIN PAGE END */


/* PRODUCTS PAGE BEGIN */
/* if the number is a price number, gets special formatting */
.price{
  color: var(--c-pri);
  font-weight: bold;
  font-size: 1.25rem;
}

/* button formatting */
/* "BUY NOW" */
a.button{
  display: inline-block;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 0.5rem;

  text-align: center;
  font-size: 1rem;
  color: var(--c-text-ter);
  background-color: var(--c-pri);
  text-decoration:none;
}
/* PRODUCTS PAGE END */


/* INFORMATION PAGE BEGIN */
.information_container{
  display: inline-flex;
  justify-content: left;
  align-items: flex-start;
  width:100%;
  margin-bottom: 1.5rem;
}

.information_container content{
  align-items: flex-start;
  margin: 0 0.5rem;
  height:100%;
}
/* INFORMATION PAGE END */


/* CONTACT PAGE BEGIN */
.contact_form_container{
  flex-direction: column;
  align-items: flex-start;
}

.contact_form_item{
  padding: 1%;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* taken from in-class contact form example */
.label_lg{
  font-weight: bold;
  font-size: 1rem;
  padding: 1% 0;
}

.input_lg{
  width:100%;
  margin: 0 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.message_area{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
}

.message{
  height:16rem;
  border-radius:0.5rem;
  padding: 1rem;
  width:100%;
}

.button_bar{
  display: flex;
  flex-direction: row-reverse;
  margin-top:2rem;
}

.btn_dark{
  width:100%;
  border-radius: 0.5rem;
  padding:1rem;

  text-align: center;
  font-size: 1rem;
  font-weight:bold;

  color: var(--c-text-ter);
  background-color: var(--c-pri);
  border-color: var(--c-pri);
}

.btn_dark:hover{
  background-color: var(--c-ter);
    border-color: var(--c-ter);
}
/* CONTACT PAGE END */



/* PAGE SPECIALIZED FORMATTING END */
/* ------------------------------------------------------------------------------------------ */
/* MEDIA QUERIES BEGIN */
/* Desktop-first styling */



/* TABLET FORMATTING BEGIN */
/* Landscape tablet */
@media screen and (max-width:1024px){

/* home page: stacked_boxes logo
 sitting on nav rather than slogan_bar */
#home_header{
  padding-left: 200px;
}

#stacked_boxes{
  width:200px;
}

/* changing standard_page_bar from row to column */
.standard_page_bar{
  margin:0;
  padding:1%;
  flex-direction: column;
}

.standard_page_bar_header{
  max-width: 100%;
  margin: 0 0 0 2%;
}

.standard_page_bar h2{
  margin:0;
  padding:1% 0;
}

.standard_page_bar p{
  margin: 0 0 2% 0;
}

.standard_page_bar ul{
  min-width:100%;
}
}
/* TABLET FORMATTING END */


/* MOBILE FORMATTING BEGIN */
/* Portrait tablet and smaller */
@media screen and (max-width:768px){

/* home page: switching stacked_boxes logo to solo_box logo */
#home_header{
  padding-left:1rem;
}

#stacked_boxes{
  display:none;
}

#mobile_box{
  display: block;
  width:12rem;
  height:auto;
}

/* hiding desktop_nav */
.desktop_nav{
  display:none;
}

/* putting mobile_nav in place of desktop_nav */
.mobile_nav{
  display:flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  padding:0;
  background-color: rgba(0,0,0,0);
}

/* showing + formatting hamburger menu */
.mobile_menu_container{
  display:flex;
  justify-content: end;
  width:100%;
  padding-right:2%;
  background-color: var(--c-ter);
}

/* hamburger */
.mobile_menu{
  display:block;
  color: var(--c-text-ter);
  font-size: 3rem;
  cursor:pointer;
}

/* NAV DROPDOWN */
.mobile_nav_dropdown{
  display:none;
}

.show{
  display:block;
}

.mobile_nav_dropdown ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right:0;
  background-color:  var(--c-qua);
  width: 12rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 999;
}

/* slogan bar for home page */
.slogan_bar{
  display:none;
}

/* remove slogan */
.slogan_bar p{
  display: none;
}

/* standard page bar -- mostly products page */
.standard_page_bar_header{
  max-width:100%;
}

.standard_page_bar ul{
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.standard_page_bar .category_box{
    min-width: 45%;
    padding: 0;
    margin: 2%;
    background-color: var(--c-bg);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}


/* standard page bar category sections */
content{
  flex-direction: column;
}

content .img_container{
  width:50%;
}

/* MAIN BEGIN */
/* wrapper for main: aside + article */
.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items:center;
}

/* ASIDE BEGIN */
aside{
  margin: 0;
  background-image: var(--c-gradient-sec-to-qua);
  width:100%;
  height:5rem;
  overflow:hidden;

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.aside_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  height:4rem;
  width:12rem;
}

aside h3{
  color:var(--c-text-ter);
}

/* removing subheader for sidebar category */
aside p{
  display:none;
}

.aside_mobile_arrow{
  display:block;
  color: var(--c-text-ter);

  font-size: 1.5rem;
  padding-top: 1rem;
  cursor:pointer;
}

/* using the same vibe as the W3schools dropdown tutorial */
/* but a few steps above for the product categories rather than subcategories */
/* dropdown container */
aside ul{
  display:none;

  margin-top:4rem;
  margin-left:0;

  position: absolute;
  background-color: var(--c-bg);
  width: 12rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 999;
}

/* bits within ul */
aside li{
  margin:0;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

aside li a{
  text-decoration: none;
  color: var(--c-text-pri);
  text-wrap: wrap;
}
/* ASIDE END */

/* main page's information section */
.main_information_container{
  flex-wrap: wrap;
}

.main_information_container content{
  width:45%;
}

/* information page */
.information_container{
  flex-wrap: wrap;
}

.information_container content{
  height:100%;
  width:45%;
  margin:1%;
}
/* MAIN END */
}

/* MOBILE FORMATTING END */
/* MEDIA QUERIES END */
/* ------------------------------------------------------------------------------------------ */
/* style.css END */