/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}












/* ATOMIC EXAMPLES */
/* will line items up in columns */
.container_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  border: 1px solid cornflowerblue;
  background-color: rgba(0, 0, 255, 0.3);
}

/* Atomic CSS Design Pattern */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify_start {
  justify-content: flex-start;
}

.justify_end {
  justify-content: flex-end;
}

.justify_between {
  justify-content: space-between;
}

.justify_around {
  justify-content: space-around;
}

.justify_even {
  justify-content: space-evenly;
}

.align_start {
  align-items: flex-start;
}

.align_end {
  align-items: flex-end;
}

.align_center {
  align-items: center;
}

.self_start {
  align-self: flex-start;
}

.self_end {
  align-self: flex-end;
}

.self_center {
  align-self: center;
}

.self_stretch {
  align-self: stretch;
  /* need to override our fixed height of 300px for our class item so it can stretch */
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  /* if anything with flexbox and the value stretch
  isn't "stretching" its because you have a fixed height or width */
  .self-stretch {
    /* need to override fixed width of 300px so it can stretch in column mode */
    height: 300px;
    width: auto;
  }
}
/* ATOMIC EXAMPLES END */













/* HEADER BEGIN */
header {
  display: flex;
  width: 100%;
  min-height: 100px;
  background-color: #FFF;
  align-items: center;
}

/* div for solo_box logo */
.header_img{
  height: 8rem;
  width: auto;
}

/* container for logo text */
header .text{
  padding: 1rem;
  justify-items: flex-start;

}

/* "Security" */
header h1 {
  letter-spacing: -0.5px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  margin-bottom: -0.5rem;
  font-size: 3em;
  color: #000;
}


/* div for Snails.com */
header div .sub_logo_div {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: baseline;
}

/* "Snails" */
header h2{
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
  color: #E40505;
}

/* ".com" */
header h3{
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.75em;
  color: #8C8C8C;
}
  
/* phone number beneath logo */
header p {
  justify-self: flex-end;
  vertical-align: middle;
  font-size: 0.9em;
  margin: 0;
  color: #8C8C8C;
}

/* header logo text specifically for the home page */
#home_header{
  width:100%;
  padding-left:20%;
  height: 15rem;
  font-size: 1.4em;
}

/* fancy stacked boxes logo for the home page */
#stacked_boxes{
  width:20%;
  height: auto;
  position:absolute;
  top:0;
  left:0;
}


/* NAV BEGIN */
nav{
  background-color: #8B0404;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  font-size: 0;
}

/* container for all pages within nav */
nav ul{
  padding:0;
  margin:0;
}

/* one list item */
nav li {
  display: inline-block;
}

/* anchor tag attached to list item */
nav li a {
  margin: 10px 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;

  text-align: center;
  font-size: 1rem;
  color:#FFF;
  text-decoration:none;
      } 

/* change color when hover */
nav a:hover {
  background-color: #EDEDED;
  color: #C20102;
}

/* change color when has class="active"
(page user is currently on) */
nav a.active {
  background-color: #C20102;
  color:#FFF ;
}
/* NAV END */








/* PAGE BAR BEGIN */
/* between the nav and the body,
like a second header for the category */

/* Page bar for the home page */
/* "Don't be the easy target!" */
.slogan_bar{
  padding:0;
  background-image: linear-gradient(to right, #C20102, #450202);
  height:150px;
  width:100%;
  display:inline-flex;
  align-content: center;
  justify-content:center;
}

.slogan_bar p{
  margin:0;
  padding:15px;
  align-self: center;
  font-size: 3.5em;
  text-wrap:nowrap;
  color:#FFF;
}

.slogan_bar div{
  width: 20%;
  height:150px;
  margin:0;
  padding:0;
}

/* Page bar for the products page */
/* would also be used down the line for more products pages */
/* ie Products > Door Locks would have a standard_page_bar with types of door locks */
.standard_page_bar{
  background-image: linear-gradient(to right, #C20102, #450202);
  width:100%;
  padding:2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow:hidden;
  justify-content:space-between;
}

/* holds standard_page_bar h2 and p */
.standard_page_bar_header{
  max-width:30%;
  margin: 0 2%;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* page name: "All Products" */
.standard_page_bar h2{
  color:#FFF;
  margin:0;
  padding:1% 0;
}

/* subtitle: "browse our most popular categories" */
.standard_page_bar p{
  color:#FFF;
  margin: 2% 0;
  padding: 0;
  text-wrap: wrap;
}

/* container for category link buttons */
.standard_page_bar ul{
  width:77%;
  padding:0;
  margin:0;

  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

/* container for one category link button */
.category_box{
  max-height:12rem;
  max-width:12rem;
  padding:2%;
  margin:1%;

  background-color: #FFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
   /* keeping boxes the same size as each other */
  flex:1 1 0;

}

.category_box a{
  height:100%;
  width:100%;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category_box .img_container{
  max-width: 100%;
  max-height:75%;
  width:auto;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.category_box .img_container img{
  height:100%;
  width:auto;
  max-width: 100%;
}


.category_box p{
  color:#231918;
  font-size: medium;
}
/* HEADER END */


/* MAIN BEGIN */
/* wrapper for main: aside + article */
.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}




/* ASIDE BEGIN */
aside{
  width: 20%;
  margin: 1rem;
  background-color: #FFF;
}

aside ul{
  margin:0.5rem;
  padding:0;
  list-style-type: none;
}

/* container for li a and dropdown */
aside li{
  margin:0;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

aside li a{
  text-decoration: none;
  color:#000;
  text-wrap: wrap;
}


/* dropdown arrow code based on w3schools 
https://www.w3schools.com/Css/css_dropdowns.asp */
.dropdown {
  position: relative;
}

/* Style the dropdown button */
.dropdown_button {
  background-color: #FFF;
  color: black;
  margin:1%;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #EDEDED;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbutton:active {
  background-color: #3e8e41;
}
/* ASIDE END */



/* wrapper for article: icon bar + content */
.wrapper_article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.icon_bar{
  margin: 0;
  padding:15px;
  background-color: #FFF8F6;
}

.main_article{
  background-image: linear-gradient(to bottom, #FFF8F6, #C20102);
  padding:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

content{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 8px;
  margin:10px;
  padding:5px 10px;
  height:100px;
  background-color: #FFF;
}



content .img_container{
  height:100%;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

content p{
  background-color: aqua;
}
/* MAIN END */

footer{
margin:0;
padding:0;
width:100%;
height:200px;
background-color: #450202;
}

footer p{
  margin:0;
  padding:0;
  color:#FFF;
}







.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: darkcyan;
}

.grid-item {
  width: 23%;
  margin: 1%;
}

.secondary-nav {
  min-width: 25%;
  background-color: aquamarine;
}

.menu {
  /* remove list defaults */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid grey;
}

.menu span {
  padding: 1rem;
  font-size: 2rem;
}

.menu a {
  text-decoration: none;
  font-weight: 600;
  color: #111;
  width: 100%;
  display: flex;
  align-items: center;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* DESKTOP-FIRST STYLING */
/* MEDIA QUERIES */

/* Landscape tablet */
@media screen and (max-width: 1024px) {





.standard_page_bar{
  width:100%;
  margin:0;
  padding:1%;
  display: flex;
  flex-direction: column;
  overflow:hidden;
}

/* holds standard_page_bar h2 and p */
.standard_page_bar_header{
  margin: 0 0 0 2%;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* page name: ie "All Products" */
.standard_page_bar h2{
  color:#FFF;
  margin:0;
  padding:1% 0;
}

/* subtitle: "browse our most popular categories" */
.standard_page_bar p{
  margin: 0 0 2% 0;
  padding: 0;
}

.standard_page_bar ul{
  min-width:100%;
}

.category_box{
  flex:0 0 18%;
  width:20%;
  padding:2%;
  max-height:12rem;
  background-color: #FFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.category_box a{
  height:100%;
  width:100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_container{
  max-width: 100%;
  max-height:75%;
  width:auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img_container img{
  height:100%;
  width:auto;
}


.category_box p{
  color:#231918;
  font-size: medium;
}





}

/* Portrait tablet and smaller */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .secondary-nav {
    order: 1;
  }

  .grid-container {
    flex-direction: column;
    order: 2;
  }

  .grid-item {
    width: 95%;
  }
}
